<div class="dark:!text-white">
    <div class="m-6">
        <mat-form-field appearance="fill">
            <input
                matInput 
                placeholder="Search for users..." 
                type="text" 
                [matAutocomplete]="users"
            />
        </mat-form-field>
        <mat-autocomplete #users="matAutocomplete">
            <!-- 1st way to filter users based on the user input search string is by using a custom pipe -->
            @for(user of allUsers ; track $index){ 
                <mat-option [value]="user?.fullName" (click)="createChat(user)">
                    {{user?.fullName}}
                </mat-option>
            }
        </mat-autocomplete>
    </div>
</div>